/* Formatting */
body {
    margin: 0;
    font-family: 'Smythe', sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
} 

main {
    background-color: white;
    width: 600px;
}

header {
    background-image: url("img/header.png");
    background-size: cover;
    width: 600px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Shared */
.checkout, .items-list {
    margin: 45px;
}

button {
    font-family: 'Verdana', sans-serif;
}

/* Typography */

header h1,
header h3 {
    margin-left: 46px;
}

header h1 {
    font-size: 2.4rem;
}

header h3 {
    font-size: 1.375rem;
    margin-top: 13px;
}

h1, h2, h3, h4, h5, p {
    font-weight: 300;
    margin: 0px;
}

/* Menu styling */

.items-list {
    border-bottom: 2px solid #D2D2D2;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px;
    border-bottom: 1px;
}

.item-emoji {
    font-size: 4.875rem;
    margin-right: 30px;
}

.item-name {
    font-size: 1.75rem;
}

.item-ingredients {
    color: #8B8B8B;
}

.item-button {
    margin-left: auto;
    color: #3C3C3C;
    font-size: 2rem;
    font-weight: 300;
    background-color: white;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.item-text p {
    margin: 10px 0px;
}

.price {
    font-size: 1.25rem;
    margin-left: auto;
}

/* Checkout styling */

#yourorder {
    text-align: center;
}

.checkout h4 {
    font-size: 1.75rem;
}

.remove-button {
    background-color: white;
    border: none;
    margin: 0;
    color: #BBBBBB;
    font-size: .75rem;
    margin-left: 13px;
}

.checkout-item, .total-price {
    display: flex;
    margin: 11px 0px;
}

.checkout-items {
    border-bottom: 2px solid #393333;
}

#complete-order {
    width: 100%;
    height: 60px;
    background-color: #16DB99;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}