/* Formatting */
body {
    margin: 0;
    font-family: 'Smythe', sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
} 

main {
    background-color: white;
    width: 600px;
}

header {
    background-image: url("img/header.png");
    background-size: cover;
    width: 600px;
    color: white;
    padding: 30px 0;
}

#container {
    justify-content: center;
    align-items: center;
}

input[type="number"]{
    appearance: textfield;
}

/* Shared */
#checkout, #items-list {
    margin: 45px;
}

.confirm-button {
    width: 100%;
    height: 60px;
    background-color: #16DB99;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

/* Utility classes */
.verdana {
    font-family: 'Verdana', sans-serif;
}

.bold {
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Typography */

header h1,
header h3 {
    margin-left: 46px;
}

header h1 {
    font-size: 2.4rem;
}

header h3 {
    font-size: 1.375rem;
    margin-top: 13px;
}

h1, h2, h3, h4, h5, p {
    font-weight: 300;
    margin: 0px;
}

/* Menu styling */

.item {
    border-bottom: 2px solid #D2D2D2;
}

.item-container {
    display: flex;
    align-items: center;
    padding: 40px 0px;
    border-bottom: 1px;
}

.item-emoji {
    font-size: 4.875rem;
    margin-right: 30px;
}

.item-name {
    font-size: 1.75rem;
}

.item-ingredients {
    color: #8B8B8B;
}

.item-button {
    margin-left: auto;
    color: #3C3C3C;
    font-size: 2rem;
    font-weight: 300;
    background-color: white;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.item-text p {
    margin: 10px 0px;
}

.price {
    font-size: 1.25rem;
    margin-left: auto;
}

/* Checkout styling */

#yourorder {
    text-align: center;
}

#checkout h4 {
    font-size: 1.75rem;
}

.remove-button {
    background-color: white;
    border: none;
    margin: 0;
    color: #BBBBBB;
    font-size: .75rem;
    margin-left: 13px;
}

.checkout-item, .total-price {
    display: flex;
    margin: 11px 0px;
}

#checkout-items {
    border-bottom: 2px solid #393333;
}

.checkout-complete {
    background-color: #ECFDF5;
    font-family: 'Smythe', sans-serif;
    font-weight: 300;
    color: #065F46;
}

/* modal */

#modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    margin: auto;
    width: 524px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.658);
    padding: 20px;
    transition: opacity 0.25s ease-in;
}

#modal h2{
    text-align: center;
    margin-top: 20px;
}

.form-input {
    margin: 5px 0;
}

form input {
    padding: 15px;
    margin-top: 5px;
}

#modal-pay {
    margin-top: 10px;
    font-size: 1.25rem;
}

.form-input label {
    display: block;

}